body{
    /*background-color:black;*/
}
.navbar{
    margin-bottom: 0;
    /*background-color:black;*/
}
.container{
    /*padding-top:60px;*/
}
.home_top_block{
    height:400px;
    background-image: url("/images/home_top_block.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.home_bottom_block{
    margin-top:20px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    background-image:linear-gradient(to bottom,#fff 0,#DDFFFD 100%);
}
.team{
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin-top:20px;
    padding-top:15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    /*background-image:linear-gradient(to bottom,#DDFFFD 0,#fff 100%);*/
}
.home_bottom_block a{
    text-decoration: none;
    color:#737373;
    font-weight:400;
}
.home_middle_block{
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin-top:20px;
    padding-top:15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.home_p{
    font-size: 2em;
}
.center_line{
    border-top:1px solid #BDBDBD;
    width:30%;
    margin:0 auto;
}
#title_2nd_part{
    font-size: 1.5em;
}
.tablename{
    text-align: center;
    font-family: 'Poiret One', cursive;
}
.tablename_secondline{
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Poiret One', cursive;
}
.form-inline .form-control{
    width:100%;
}
.form-group{
    margin-top:1.2em;
}
.registerForm{
    border-left: 1px grey solid;
}

.invalid {
    background-color: rgba(255,0,0,0.4);
}

.surveyDescription{
    font-size: 1.2em;
}
.surveyQuestion{
    font-size: 1.5em;
    margin-top: 3em;
    font-family: 'Poiret One', cursive;
}
.radio{
    font-size: 1.2em;
}
.search-form{
    margin: 0;
    padding: 0px;
}
.search-box{
    height: 2em;
}
.search-box-holder{
    margin: 0;
    padding-top: .2em;
}
.search-button{
    height: 2em;
    padding: 0.3em;
}

.list-group-item{
    font-family: 'Poiret One', cursive;
    font-size:1.3em;
}
.list-group-item a{
    text-decoration: none;
}
.well h1{
    font-size: 1.5em;
}
.well p{
    font-size: 1.2em;
}

#top-level-row-survey-creation{
    padding:10px;
}
#submit-survey-response-button{
    background-image: none;
    margin-top: 3em;
    margin-bottom: 5em;
}
#home_create_button{
    margin-top:200px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 1.7em;
    font-family: 'Poiret One', cursive;
    background-image: linear-gradient(to bottom,#fff 0,#FFFFFF 100%);
}
#user_page_title{
    font-family: 'Poiret One', cursive;
    font-size:4em;
    padding-bottom: 20px;
}
.error_page{
    font-family: 'Poiret One', cursive;
}
.take_survey{
    text-align: center;
}
.survey_result_question{
        font-family: 'Poiret One', cursive;
}
