body{
    /*background-color:black;*/
}
.navbar{
    margin-bottom: 0;
    /*background-color:black;*/
}
.container{
    /*padding-top:60px;*/
}
.home_top_block{
    height:400px;
    background-image: url("/images/home_top_block.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.form-inline .form-control{
    width:100%;
}
.form-group{
    margin-top:1.2em;
}
.registerForm{
    border-left: 1px grey solid;
}
.surveyDescription{
    font-size: 1.3em;
}
.surveyQuestion{
    font-size: 1.1em;
}
.search-form{
    margin: 0;
    padding: 0px;
}
.search-box{
    height: 2em;
}
.search-box-holder{
    margin: 0;
    padding-top: .2em;
}
.search-button{
    height: 2em;
    padding: 0.3em;
}


#top-level-row-survey-creation{
    padding:10px;
}
#submit-survey-response-button{
    background-image: none;
}
#home_create_button{
    margin-top:200px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 1.7em;
    font-family: 'Poiret One', cursive;
    background-image: linear-gradient(to bottom,#fff 0,#FFFFFF 100%);
}
