<div class="error_page">
  <h1>Sorry, We've encountered an error</h1>
  <p>Here is the error: <%=@error%></p>
  <p>Click <a href="/">here</a> to return</p>
  <p>Please try again or contact our web admin at ***@gmail.com</p>
</div>
