<div class="row" id="top-level-row-survey-creation">
  <form class="form-inline" method="post" action="/surveys">
    <div class="survey-form row">
      <div class="form-group col-sm-12">
        <label for="title">Survey Title</label>
        <input type="text" name="title" placeholder="Survey Title" class="form-control">
      </div>
      <div class="form-group col-sm-12">
        <label for="description">Description</label>
        <textarea type="text" name="description" placeholder="Survey Description (optional)" rows="4" class="form-control"></textarea>
      </div>
    </div>

    <div class="forms-container row">
      <div class="question-form">
        <div class="form-group col-sm-12">
          <label>Question</label>
          <input type="text" name="q1" placeholder="Question" class="form-control">
        </div>

        <div class="answer-form form-group col-sm-4">
          <input type="text" name="q1-1" placeholder="Answer" class="form-control">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <a href="#" id="add-answer" type="button" name="add-answer" class="btn btn-md btn-default">Add Answer</a>
        <a href="#" id="add-question" type="submit" name="add-question" class="btn btn-md btn-default">Add Question</a>
        <button id="submit-new-survey" type="submit" class="btn btn-md btn-default">Create</button>
      </div>
    </div>
  </form>
</div>


<!-- <a href="/surveys/show"></a> -->
