<!DOCTYPE html>
<html lang="en">
<head>

  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<link rel="stylesheet" href="/css/application.css">
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <script src="/js/application.js"></script>
  <script src="/js/survey_stat.js"></script>
  <script src="/js/modal_controller.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- <div class="collapse navbar-collapse"> -->
      <ul class="nav navbar-nav">
        <li><a href="/surveys">toSurvey</a></li>
        <%if logged_in?%>
          <li><a href="/surveys/new">Create New Survey</a></li>
        <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><form id="search-form" class="navbar-form" role="search" method="get" action="/search">
          <div class="form-group search-box-holder">
            <input id="username-search" type="text" class="search-box form-control" name="username" placeholder="Username">
            <input id="survey-search" type="text" class="search-box form-control" name="survey" placeholder="Survey">
          </div>
          <button type="submit" class="btn btn-default search-button">Search</button>
        </form></li>
        <%if logged_in?%>
          <li><a href="/users/<%=session[:user_id]%>"><%= current_user.username %></a></li>
          <li><a href="/sessions/logout">LogOut</a></li>
        <% else %>
          <li><a href="#" id="navLogInRegisterButton" data-toggle="modal" data-target="#newSurveyForm">Login/Register</a></li>
        <% end %>
      </ul>
    </div>
    <!-- </div> -->
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
